<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>cocktail-api</title>
    <style>
        #apiCocktail {
            font-family: "Helvetica", Arial, sans-serif;
        }

        a {
            text-decoration: none;
            color: #f66;
        }

        li {
            line-height: 1.5em;
            margin-bottom: 20px;
        }

        .author,
        .date {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="apiCocktail">
    <!-- <pre>{{commits}}</pre> -->
    <h1>Latest Vue.js Commits</h1>
    <template v-for="cocktail in cocktails">
        <input
                type="radio"
                :id="cocktail"
                :value="cocktail"
                name="cocktail"
                v-model="currentCocktail"
        />
        <label :for="cocktail">{{ cocktail }}</label>
    </template>
    <p>vuejs/vue@{{ currentCocktail }}</p>
    <ul>
        <li v-for="record in commits">
            <a :href="record.html_url" target="_blank" class="commit"
            >{{ record.sha.slice(0, 7) }}</a
            >
            -
            <span class="message"
            >{{ formattedMessage(record.commit.message) }}</span
            ><br/>
            by
            <span class="author"
            ><a :href="record.author.html_url" target="_blank"
            >{{ record.commit.author.name }}</a
            ></span
            >
            at
            <span class="date"
            >{{ formattedDate(record.commit.author.date) }}</span
            >
        </li>
    </ul>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script>
    const apiURL =
        "https://api.github.com/repos/vuejs/vue/commits?per_page=3&sha=";
    const config = {};

    Vue.createApp({
        data() {
            return {
                branches: ["main", "dev"],
                currentBranch: "main",
                commits: null,
            };
        },

        created: function () {
            this.fetchDataPromise();
            // this.fetchDataAsync()
        },
// Si la valeur change, permet de lancer une action associée
        watch: {
            currentBranch: "fetchDataPromise", //fetchDataAsync
        },
        methods: {
            fetchDataPromise: function () {
                const axios = require("axios");

                const options = {
                    method: 'GET',
                    url: 'https://the-cocktail-db.p.rapidapi.com/search.php',
                    params: {s: 'vodka'},
                    headers: {
                        'X-RapidAPI-Key': 'SIGN-UP-FOR-KEY',
                        'X-RapidAPI-Host': 'the-cocktail-db.p.rapidapi.com'
                    }
                };

                axios.request(options).then(function (response) {
                    console.log(response.data);
                }).catch(function (error) {
                    console.error(error);
                })

        },
    },
    }).mount("#apiCocktail");
</script>
</body>
</html>